[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"
autopep8 = "*"

[packages]
numpy = "*"
tensorflow = "*"
jupyter = "*"
ipython = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
jupyterlab = "*"
keras = "*"
mxnet = "*"
pyspark = "*"

[requires]
python_version = "3.6"
